html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter UI', Arial, Helvetica, sans-serif;
  color: $text-color;
  background: $light-bg-color;
  text-align: center;
  padding: 25vh;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 3em;
  margin: 0.67em 0;
}

h2 {
  color: #f6c945;
}
